<!--[if IE]><object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" height="140" width="165">
	<param name="movie" value="<{$smarty.const.DEBASER_URL}>/swf/equalizer.swf" />
	<param name="quality" value="best" />
<param name="autostart" value="1" /><![endif]-->
<object id="equalizer" class="playerdisplay" height="140" data="<{$smarty.const.DEBASER_URL}>/swf/equalizer.swf" type="application/x-shockwave-flash" width="165">
	<param name="quality" value="best" />
<param name="autostart" value="1" />
</object>	
<!--[if IE]></object><![endif]-->