<{include file='db:debaser_search.html'}>
<br />
<table class="debasertable" cellspacing="0" cellpadding="0">
  <tr>
    <td class="firstcell" rowspan="2"><img src="<{$smarty.const.DEBASER_UIMG}>/upperleft.jpg" alt="debaser" title="debaser" /></td>
    <td class="secondcell"></td>
  </tr>
  <tr>
    <td class="debtextcell">
<{$indextree}>
</td>
  </tr>
  <tr>
    <td class="bottomcell2" colspan="2"><img src="<{$smarty.const.DEBASER_UIMG}>/lowerright.jpg" alt="" /></td>
  </tr>
</table>

<{if $xoops_notification.show}>
<div id="debnotification">
<{include file="db:system_notification_select.html"}>
</div>
<{/if}>