<{include file='db:debaser_search.html'}>
<br />
<table class="debasertable" cellspacing="0" cellpadding="0">
  <tr>
    <td class="firstcell" rowspan="2"><img src="<{$smarty.const.DEBASER_UIMG}>/upperleft.jpg" alt="debaser" title="debaser" /></td>
    <td class="secondcellgenre"><{$category_path}><{foreach item=subcat from=$subcategories}> <small><b><a href="genre.php?genreid=<{$subcat.id}>"><{$subcat.title}></a></b> <{$subcat.infercategories}></small><{/foreach}>
<{if $playlistyes == true}>
<div id="playlistresponse"></div>
<{/if}></td>
  </tr>
  <tr>
    <td class="debtextcell">
<{section name=i loop=$filelist}>
<div class="indexdivsingle">
<b><{$filelist[i].artist}> - <{$filelist[i].title}></b><br /><br />
<{if $filelist[i].hasthumb == true}><div style="float:left; padding-right:20px;"><{$filelist[i].thumbnail}></div><{/if}>
<div><a href="singlefile.php?id=<{$filelist[i].id}>"><{$smarty.const._MD_DEBASER_READMORE}></a></div><br style="clear:both;" />
<br />
<div align="left" style="float:left;">
<{$filelist[i].imagebar}>
</div>
<div class="iconsright" align="right">

<img src="<{$smarty.const.DEBASER_UIMG}>/views.png" title="<{$smarty.const._MD_DEBASER_VIEWS}>" alt="<{$smarty.const._MD_DEBASER_VIEWS}>" />&nbsp;<b><{$filelist[i].views}></b><{if $allowyes == true && $filelist[i].isplatorlink != true}>&nbsp;<a href="<{$smarty.const.DEBASER_URL}>/getfile.php?id=<{$filelist[i].id}>"><img src="<{$smarty.const.DEBASER_UIMG}>/hits.png" title="<{$smarty.const._MD_DEBASER_HITS}>" alt="<{$smarty.const._MD_DEBASER_HITS}>" /></a>&nbsp;<b><{$filelist[i].hits}></b><{/if}>
<{if $playlistyes == true && in_array($filelist[i].fileext, $mimearray)}>&nbsp;<img src="<{$smarty.const.DEBASER_UIMG}>/playlist.png"  class="addtoplaylist" id="a<{$filelist[i].id}>" alt="<{$smarty.const._MD_DEBASER_TOPLAYLIST}>" title="<{$smarty.const._MD_DEBASER_TOPLAYLIST}>" /><{/if}><{if $xoops_isuser}>&nbsp;<a href="<{$smarty.const.DEBASER_URL}>/broken.php?brokenid=<{$filelist[i].id}>"><img src="<{$smarty.const.DEBASER_UIMG}>/broken.png" alt="" title="" /></a><{/if}>
	<{if $isxadmin == true OR $verifyuser == $filelist[i].uid}>
&nbsp;<a href="<{$smarty.const.DEBASER_URL}>/fileedit.php?op=editmpegs&amp;mpegid=<{$filelist[i].id}>"><img src="<{$smarty.const.DEBASER_UIMG}>/edit.png" alt="<{$smarty.const._MD_DEBASER_EDIT}>" /></a>&nbsp;
<a href="<{$smarty.const.DEBASER_URL}>/fileedit.php?op=deletesong&amp;mpegid=<{$filelist[i].id}>&amp;delfile=<{$filelist[i].filename}>&amp;uid=<{$filelist[i].uid}>"><img src="<{$smarty.const.DEBASER_UIMG}>/delete.png" alt="<{$smarty.const._DELETE}>" /></a>
	<{/if}>
	</div>
</div>
<{/section}>
<{if $similarity != -1}><div class="stay-tooltip-content2 tooltip-content2" id="stay-content-2"><div id="similarid"></div></div><{/if}>
<form action="" id="updateplform" name="updateplform" class="jsecure"></form>
</td>
  </tr>
  <tr>
    <td class="bottomcell" colspan="2"><img src="<{$smarty.const.DEBASER_UIMG}>/lowerright.jpg" /></td>
  </tr>
</table>
<div style="text-align:right;"><{$navbar}></div>
<{if $xoops_notification.show}>
<div id="debnotification">
<{include file='db:system_notification_select.html'}>
</div>
<{/if}>
          